@import "tailwindcss";

/* Sections */
.section {
  height: 100vh;
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Containers */
.content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}

.content-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 1rem;
  z-index: 99;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
  perspective: 1000;
  pointer-events: all;
}

/* Center Content */
.content-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

/* Aesthetics */
.top-section {
  background-image: url(../../public/images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-section {
  background: #d4fef2;
}

/* Responsive Typography */
.section h1 {
  font-size: 150px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.section p,
.section a {
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
}

/* Dark Theme */
.content-theme-dark h1 {
  color: #E33E39;
  text-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

.content-theme-dark p,
.content-theme-dark a {
  color: #E33E39;
  font-size: 44px;
}

/* Light Theme */
.content-theme-light h1 {
  color: #062930;
  text-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

.content-theme-light p,
.content-theme-light a {
  color: #728E93;
  font-size: 44px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .section h1 {
    font-size: 100px;
  }

  .section p,
  .section a {
    font-size: 32px;
    letter-spacing: 5px;
  }
}

@media (max-width: 768px) {
  .content-inner {
    padding: 0.5rem;
  }

  .content-center {
    padding: 1rem;
  }

  .section h1 {
    font-size: 80px;
  }

  .section p,
  .section a {
    font-size: 28px;
    letter-spacing: 4px;
  }


}

@media (max-width: 480px) {
  .section {
    min-height: 400px;
    padding: 1rem;
  }

  .section h1 {
    font-size: 60px;
  }

  .section p,
  .section a {
    font-size: 22px;
    letter-spacing: 3px;
  }
}